{% extends 'base.html' %}
{% block title %}Login | Inventario Repuestos{% endblock %}
{% block content %}
<section class="card narrow">
    <h1>Iniciar sesion</h1>
    <p class="subtitle">Acceso</p>
    <form method="post" class="form-grid">
        <label>Usuario</label>
        <input type="text" name="username" required>

        <label>Contraseña</label>
        <input type="password" name="password" required>

        <button type="submit">Entrar</button>
    </form>

    <p class="subtitle" style="margin-top:12px;">
        ¿Olvidaste tu contraseña? Recuperala haciendo click
        <a href="{{ url_for('password_recovery') }}">aqui</a>.
    </p>

</section>
{% endblock %}
